.imagetop{
   width: 500px;;
   height: 400px;
   float:right;
   margin-left: 1000px;
}

body{
     font-family: sans-serif;
}
.texto1{
    color: #ffcc66;
    font-family: sans-serif;
    padding: 5%;
    font-size: 4em;
}
.btn{
    border-radius: 10%;
}
.imgCorpo{
    height: 800px;
    width: 100%;
}
.imgCorpo2{
    height: 600px;
    width: 900px;
}

  #playlist{
      padding: 5%;
      text-align: center;
  }
  .pa{
      font-size: 2em;
      color: #999999;
      padding: 15%;
  }
  #rodape{
    height: 450px;
     padding: 15%;

    text-align: center;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    height: auto;
    width: 100%;
}
.navbar-default {
    background-color:#eee;
  
}

.modal-login {		
                color: #636363;
                width: 350px;
            }
            .modal-login .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
            }
            .modal-login .modal-header {
                margin: -5px;
                border-bottom: none;   
                position: relative;
                justify-content: center;
            }
            .modal-login h4 {
                text-align: center;
                font-size: 26px;
            }
            .modal-login .form-control:focus {
                border-color: #70c5c0;
            }
            .modal-login .form-control, .modal-login .btn {
                min-height: 40px;
                border-radius: 3px; 
            }
            .modal-login .close {
                position: absolute;
                top: -5px;
                right: -5px;
            }	
            .modal-login .modal-footer {
                background: #ecf0f1;
                border-color: #dee4e7;
                text-align: center;
                justify-content: center;
                margin: 0 -20px -20px;
                border-radius: 5px;
                font-size: 13px;
            }
            .modal-login .modal-footer a {
                color: background;
            }		
            .modal-login .btn {
                color: #fff;
                border-radius: 4px;
                background: gray;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }
            .modal-login .btn:hover, .modal-login .btn:focus {
                background: black;
                outline: none;
            }
            .trigger-btn {
                display: inline-block;
                margin: 100px auto;
            }
            
            #search{
                
               padding-left: 300px;
            }